#inicial{
    margin: 0 auto;
}

#ll{
    display: block;
    margin: 0 auto;
    line-height: 200px;
}

#b{
    display: block;
    margin: 0 auto;
    line-height: 200px;
}

#i{
    display: block;
    margin: 0 auto;
    line-height: 200px;
}

#d{
    display: block;
    margin: 0 auto;
    line-height: 200px;
}

#t{
    display: block;
    margin: 0 auto;
    line-height: 200px;
}
