{% extends 'base.html' %}

{% load static %}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'css/adicionar.css' %}">
{% endblock %}

{% block 'conteudo'%}

  <form method="post">
    {% csrf_token %}
    
    <input type="text" id="nome" name="nome" placeholder="Nome"><br>

    <input type="number" id="idade" name="idade" placeholder="Idade"><br>

    <input type="text" id="sexo" name="sexo" placeholder="Sexo (M) ou (F)"><br>

    <input type="text" id="localizacao" name="localizacao" placeholder="Localização"><br>

    <input type="number" id="agua" name="agua" placeholder="Agua"><br>

    <input type="number" id="medicamento" name="medicamento" placeholder="Medicamento"><br>

    <input type="number" id="comida" name="comida" placeholder="Comida"><br>

    <input type="number" id="municao" name="municao" placeholder="Munição"><br>

    <input type="submit" value="Adicionar">
  </form>
{%endblock%}
  