{% extends 'base.html' %}

{% load static %}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'css/adicionar.css' %}">
{% endblock %}


{% block 'conteudo'%}
<form method="post">
  {% csrf_token %}
  <label for="localizacao">Localização:</label><br>
  <input type="text" id="localizacao" name="localizacao" value="{{ sobrevivente.localizacao }}"><br>
  <label for="denuncias">Denúncias:</label><br>
  <input type="number" id="denuncias" name="denuncias" value="{{ sobrevivente.denuncias }}"><br><br>
  <input type="submit" value="Atualizar">
</form>
{%endblock%}
